@use '../abstracts/mixin';

$btn-big-height: 60px;

.btn-big {
  @extend %center;
  box-sizing: border-box;
  width: 240px;
  height: $btn-big-height;
  padding: 10px;
  border-radius: 6px;

  & + & {
    margin-top: $btn-big-height/2;
  }
}

// btn color
.btn-white {
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-blue {
  background-color: #0077CC;
}