@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  font-family: 'Jua', sans-serif;
}
